@import "tailwindcss";

@theme {
  --font-Jost: "Jost", sans-serif;
  /* --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05); */
}

/* banner */
.banner-dots {
  display: flex !important;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.banner-dots .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #767676 !important;
  opacity: 1 !important;
  margin: 0 !important;
  border-radius: 50%;
}

.banner-dots .swiper-pagination-bullet-active {
  width: 30px !important;
  height: 30px !important;
  background: transparent !important;
  border: 1.5px solid #222 !important;
  position: relative !important;
}

.banner-dots .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #222;
  border-radius: 50%;
}
/* banner */

/* common before after for buttons */
.beforeAfter{
    @apply relative pb-1 text-[#767676] font-Jost cursor-pointer hover:text-[#222222] duration-300 after:content-[""] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-[#222222] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300
}
.beforeAfter2{
    @apply relative pb-1 text-white font-Jost cursor-pointer duration-300 after:content-[""] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-white after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300
}
.beforeAfter3{
    @apply relative pb-1 text-[#222222] font-Jost cursor-pointer duration-300 after:content-[""] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-[#222222] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300
}
/* common before after for buttons */

/* beforeAfterBlack */
.beforeAfterallcolor{
  @apply relative pb-1 font-Jost cursor-pointer duration-300 after:content-[""] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-[#222222] after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300
}

.beforeAfterBlack {
  @apply relative pb-1 uppercase cursor-pointer duration-300 font-Jost text-black after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-[75%] after:h-0.5 after:bg-black after:scale-x-0 hover:after:scale-x-100 after:origin-left after:transition-transform after:duration-300;
}
/* beforeAfterBlack */

/* swiper  */
.swiper-button-next,
.swiper-button-prev {
  color: #222;
}
/* swiper  */
